Assign a gps coordinate system to a shapefile

how can i assign Lambert 93 to my shapefile ?

You *cannot* assign a CRS to a Shapefile.
What you can do, is using `ShapefileWriter::setPRJ()` method to create a **.prj* file containing the WKT representation of the Coordinate Reference System your Shapefile is in.

If you don't have the well-known-text for your CRS, the easiest way is looking for it on https://epsg.io

Has my answer helped you with your question?
Are you still looking for a solution?
Do you think this *issue* can be closed...?

@gasparesganga sorry to comment on an existing issue, but it is tangentially related. When I output geojson, is there a way to switch the coordinate system from EPSG-3857 to RFC7946?

You could have open a new issue if you wanted to, no problem (even referencing this in case).

About your question: [EPSG-3857](https://epsg.io/3857) is a projected coordinate system, while RFC-7946 is GeoJSON current specification. You cannot *switch* not *convert* one to another...
I assume you are referring to [section 4 of RFC-7946](https://www.rfc-editor.org/rfc/rfc7946#section-4), where it suggests that coordinates should be expressed in WGS84 ([EPSG-4326](https://epsg.io/4326)).

Short answer is: of course there is a way. But you'll have to transform those coordinates yourself before outputting the GeoJSON. This is out of the scope of this library, but there are excellent libraries (eg. PROJ) that comes in rescue, or you could even perform the math yourself since EPSG-3857 is simply a projection of EPSG-4326.


More elaborated answer: You can do what I wrote in the short answer, but it really depends on what is your ultimate goal and what are you planning to do with that GeoJSON.
Many API are able to seamlessly convert EPSG-3857 to/from EPSG-4326, one is just a projection (expressed in meters) of another (expressed in lat/lon degrees).

Everything depends on the service that is consuming that GeoJSON. If you read further in the same section 4 of RFC-7946, the very last part states:
>    However, where all
>    involved parties have a prior arrangement, alternative coordinate
>    reference systems can be used without risk of data being
>    misinterpreted.

As a reference, PostGIS chooses this approach, using the `crs` object that once existed in GJ2008 specs. Read the documentation page for [ST_AsGeoJSON](https://postgis.net/docs/ST_AsGeoJSON.html) function.

My personal take is: an interchange format ultimate goal should be exactly that: interchange and interoperability. Introducing unnecessary limitations in order to *simplify* the life of those who does not want to read the specs, while at the same time reducing the scope of the format and making it worse for no real benefit, is a bad idea.
That must have been the idea of PostGIS staff too, considering that they went for a dedicated option to specify a CRS object in multiple ways.
Following this idea, I also took the liberty of *extending* GeoJSON format in this library, adding *M geometries* (`PointM`, `LineStringM`, etc), while offering the option to disable that feature using `Shapefile::OPTION_SUPPRESS_M` constructor option. After all, the ultimate goal is being able to read a shapefile without losing any information in the process.

